.destinations__container{
    width: 1280px;
    height: 650px;
    margin-left:auto;
    margin-right:auto;
}
.hawaii__background__img{
    background: url(../assets/images/hawaii.jpg);
    width: 1280px;
    height: 650px;
    background-position: 60% 58%;
    position: relative;
}
.iceland__background__img{
    background: url(../assets/images/iceland.jpg);
    width: 1280px;
    height: 650px;
    background-position: 60% 58%;
    position: relative;
}
.greece__background__img{
    background: url(../assets/images/greece.jpg);
    width: 1280px;
    height: 650px;
    background-position: 60% 58%;
    position: relative;
}
.destinations__title{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 60px;  
    left: 100px;
}
.destinations__cards__container{
    width: 1280px;
    text-align: center;
    background-color: transparent; 
    margin-left: auto;
    margin-right: auto;
    position:relative;
    transform: translateY(50%);

}
.destinations__card{
    display: inline-block;
    width: 220px;
    height: 350px;
    background-color: white;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-radius: 5px;
}
.destinations__cards__container{
    padding-top: 20px;
}
.destinations__card__day{
    padding-top: 20px;
    border-bottom: 2px solid black;
    font-weight: 900;
}
.destinations__card--schedule{
    background-color: #FEFAF5;
    padding: 15px 0px;
    margin: 18px 0px;
    font-weight: 300;
}