.hero__container{
    background-color: #fefaf5;
    height: 450px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.hero__section__left{
    width: 40%;
}
.hero__section__right{
    width: 35%;
}
.hero__title{
    font-size:30px;
    color:#335576;
    margin:20px 0px;
}
.hero__des{
    font-size:13px;
    font-weight: 300;
    color:#335576;
    margin:20px 0px;
    padding: 10px 0px;
}
.hero__button{
    border-radius: 20px;
    background-color:#DB7A4E;
    padding: 10px 20px;
    color: white;
    border-color: #DB7A4E;
    font-size: 15px;
    font-weight: 300;
}
.hero__background__img{
    background-image: url(../assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:400px;
    height: 400px;
    margin-top: 20px;
}



.recommendations__container{
    background-color: white;
    height: 525px;
    position: relative;
}
.recommendations__title{
    color: #335576;
    font-size:20px;
    font-weight: 900;
    position: absolute;
    left: 70px;
    top: 40px;
}
.recommendations__cards__container{
    position: relative;
    top: 13%;
    text-align: center;
    background-color: transparent; 
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
}
.recommendations__card{
    display: inline-block;
    width: 250px;
    height: 375px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-radius: 5px;
    position:relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px .0px rgba(0, 0, 0, 0.2);
}
.recommendations__card-name{
    font-size: 20px;
    font-family:Verdana;
    color: white;
    font-weight: 900;
    position:absolute;
    bottom: 20px;
    right: 10px;
}
.recommendations__card--greece{
    background-image: url('../assets/images/greece.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.recommendations__card--hawaii{
    background-image: url('../assets/images/hawaii.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.recommendations__card--iceland{
    background-image: url('../assets/images/iceland.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

